Lets-Go-Biking-project/HeavyClient/HeavyClient/Connected Services/RoutingWithBikes/RoutingWithBikes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8084/Design_Time_Addresses/RoutingWithBikes?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" />
  <xs:import schemaLocation="http://localhost:8084/Design_Time_Addresses/RoutingWithBikes?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.OSMapItems" />
  <xs:element name="getAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="getAllStationsResult" nillable="true" type="q1:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contrat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="getStationInfoResult" nillable="true" type="q2:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="GetPositionResult" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="positions" nillable="true" type="q4:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.OSMapItems" minOccurs="0" name="GetPathResult" nillable="true" type="q5:ArrayOfGeoJson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="getStation1Result" nillable="true" type="q6:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PathOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PathOptionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStation2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" minOccurs="0" name="getStation2Result" nillable="true" type="q7:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>