Lets-Go-Biking-project/HeavyClient/HeavyClient/Connected Services/RoutingWithBikes/RoutingWithBikes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes.Models.JCDcauxModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="contract_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainStands" nillable="true" type="tns:MainStands" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="overflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="overflowStands" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="shape" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:TotalStands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="MainStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilitie" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStands" nillable="true" type="tns:MainStands" />
  <xs:complexType name="Availabilitie">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="mechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availabilitie" nillable="true" type="tns:Availabilitie" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:float" />
      <xs:element minOccurs="0" name="lng" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="TotalStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilitie" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalStands" nillable="true" type="tns:TotalStands" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
</xs:schema>